*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    background-color: yellow;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.footer{
    background-color: #2F2F2F;
    padding:1.2rem;
    display: flex;
    justify-content: space-between;
    grid-area: footer;
    text-align: center;
}
.footer p{
    color: white;
}
.titulo {
    text-align: center;
}
.carousel-caption {
    color: black;
}
    